{% if page.bg %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/{{ page.bg }})">
{% else %}
  <aside class="sidebar" role="note" style="background-image: url({{ site.images | relative_url }}/bg.svg)">
{% endif %}

  <div class="cover">
    <!--아직 아바타 추가 안 함.-->
    {% if author.avatar %}
      <a href="{{ site.url }}/">
        <img src="{{ site.url }}/img/{{ author.avatar }}" alt="" class="avatar">
      </a>
    {% endif %}
    <a href="{{ site.url }}/" class="author_name">{{ author.name }}</a>
    <span class="author_job">{{ author.job }}</span>

    <div class="cover-text">
      <div class="heading">
        {% if page.tags %}
          {{ page.title }}
        {% endif %}
      </div>
      <p>
        {% if page.summary %}
          {{ page.summary }}
        {% endif %}
      </p>

    </div>

  </div>

  <div id="switcher"></div>
</aside>
